---
import Layout from '../layouts/Layout.astro';

const title = "2023 Dirty River Derby";
const pageDescription = "The Dirty River Derby is the rivalry between FC Cincinnati and Louisville City FC, with a history spanning back to 2016. In 2023, FC Cincinnati won the single meeting of the two clubs in the US Open Cup.";

---

<Layout title={title} pageDescription={pageDescription}>
  <main>
    <h1>2023 Dirty River Derby</h1>
    <img src="assets/img/derby_icon.png" alt="Dirty River Derby logo" width="150" height="150">

    <h2>April 26th, 2023</h2>
    <p>The 2023 installment of the Dirty River Derby was the first meeting of the teams in a few years. Where the series last left off, Cincinnati had been at the bottom of the MLS table with little prospect of moving up. A few years makes a big difference however, with Cincy entering this match sitting second in the MLS eastern conference and a strong record at home. Louisville had continued much as they had in previous years, though with a relative slump early in the USL Championship season. </p>
    <p>Louisville came out strong, with multiple shots from Cameron Lancaster and defensive work from Sean Tosch, but could not stand up the full match against Cincinnati, with great runs early on and a game-winning goal from Arquimides Ordonez in the 85th minute.</p>

    <h2>Cincinnati Win</h2>
    <img src="/assets/img/logos/fc_cincinnati_2019.svg" alt="FC Cincinnati" class="team-logo" width="150" height="150">

    <section>
      <table>
        <thead>
          <tr>
            <th>Team</th>
            <th>W</th>
            <th>L</th>
            <th>T</th>
            <th>GD</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="team-name"><img src="/assets/img/logos/fc_cincinnati_2019.svg" alt="" class="team-logo--table" width="24" height="24"> FC Cincinnati</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>3</td>
          </tr>
          <tr>
            <td class="team-name"><img src="/assets/img/logos/louisvillecity_2020_logo.webp" alt="" class="team-logo--table" width="24" height="24"> Louisville City FC</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>-1</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>

      <h3>2023 Schedule</h3>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Location</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>April 26</td>
            <td>Cincinnati / TQL Stadium</td>
            <td>1-0</td>
          </tr>
        </tbody>
      </table>

      <p><small>The Dirty River Derby is the <strong>real</strong> name for all Cincinnati/Louisville rivalry games played. The Open Cup match will be the only meeting and therefore the only effect on the standings in 2023.</small></p>
    </section>
    <hr />
    <section>
      <h1>2023 Plastic Cup</h1>

      <h2>- No Plastic Cup this year -</h2>
      <p><small>The Plastic Cup is a Supporters tournament played by the Louisville Coopers and Cincinnati Pride before some installments of the DRD. As the 2023 DRD was held on a Wednesday, it was hard to schedule a supporters match.</small></p>
    </section>
  </main>

</Layout>
