<nav class="year-nav">
  <ul>
    <li><a href="/2016/"><img src="/assets/img/logos/fc_cincinnati.svg" alt="FC Cincinnati Logo" class="team-logo--table" width="20" height="30"> 2016</a></li>
    <li><a href="/2017/"><img src="/assets/img/logos/lou_city_logo2018_gold.png" alt="Louisville City FC logo" class="team-logo--table" width="20" height="23"> 2017</a></li>
    <li><a href="/2018/"><img src="/assets/img/logos/lou_city_logo2018_gold.png" alt="Louisville City FC logo" class="team-logo--table" width="20" height="23"> 2018</a></li>
    <li><a href="/2019/"><img src="/assets/img/logos/fc_cincinnati_2019.svg" alt="FC Cincinnati logo" class="team-logo--table" width="20" height="20"> 2019</a></li>
    <li><a href="../"><img src="/assets/img/logos/fc_cincinnati_2019.svg" alt="FC Cincinnati logo" class="team-logo--table" width="20" height="20"> 2023</a></li>
  </ul>
</nav>
